<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596720254163-ui381vccvsafjg6jjivp75q0mod183p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596720254163-ui381vccvsafjg6jjivp75q0mod183p9</string>
	<key>API_KEY</key>
	<string>AIzaSyBm-9wmD4MTor9twLm6IsxULBEUlFFw5Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>596720254163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominikawantrych.yourtripplaner</string>
	<key>PROJECT_ID</key>
	<string>yourtripplaner-1892e</string>
	<key>STORAGE_BUCKET</key>
	<string>yourtripplaner-1892e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596720254163:ios:9437ca56be6426acf62826</string>
</dict>
</plist>